---
import Container from '~/components/shared/Container.astro'
import Layout from '~/layouts/Layout.astro'

const features = [
  'Astro: Fast and optimized web framework.',
  'Typescript: Typed and secure JavaScript.',
  'Tailwind: Rapid and scalable styling.',
  'Production ready: Optimized for deployment.',
]
---

<Layout>
  <div class="flex h-screen flex-col">
    <div class="flex flex-1 flex-col px-4 pt-16 sm:pt-24">
      <Container>
        <h1 class="mb-10 text-2xl font-medium">Quick Web</h1>
        <div class="space-y-6">
          <p>A minimal, fast-loading template for building simple websites.</p>
          <ul class="space-y-3">
            {
              features.map(feat => (
                <li class="flex">
                  <svg
                    class="size-6 shrink-0"
                    viewBox="0 0 22 22"
                    fill="none"
                    stroke-linecap="square"
                  >
                    <path d="M8 11.5L10.5 14L14 8" class="stroke-indigo-300" />
                  </svg>
                  <p class="ml-3">{feat}</p>
                </li>
              ))
            }
          </ul>
        </div>
        <hr class="my-6 w-full border-(--pattern-fg)" />
        <p class="mb-3">You want a site like this?</p>
        <p class="font-medium">
          <a
            href="https://github.com/tinogasta-labs/quick-web"
            target="_blank"
            rel="noreferrer noopener"
            class="underline decoration-indigo-400 underline-offset-3 hover:text-white hover:decoration-2"
            >Get started &rarr;</a
          >
        </p>
      </Container>
    </div>
    <footer class="px-4 py-8">
      <Container
        >by <a
          href="https://github.com/tinogasta-labs"
          class="underline hover:text-white hover:decoration-2"
          target="_blank"
          rel="noreferrer noopener">Tinogasta Labs</a
        >.</Container
      >
    </footer>
  </div>
</Layout>
